*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #111;
    overscroll-behavior: none;
}


#editor_container,#runner_container{
    width: 100%;
    background:none;
    display: flex;
}
#editor_container{
    height: 80%;
}
#runner_container{
    border-top: 2px solid white;
    flex-direction: column;
    padding: 5px;
}

.logs{
    padding: 2px;
}

#num_container{
    display: flex;
    flex-direction: column;
}
#texts{
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 2;
}
#texts{
    width: calc( 100% - 50px);
}
#num_container{
    width: 50px;
    padding: 2px;
    font-size: 15px;
}

.nums,.lines{
    height: 20px;
    font-size: 15px;
    width: 100%;
}

.lines{
    outline: none;
    border: none;
    background:none;
    color: transparent;
    caret-color: #00ff00;
}

#run{
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    border: 1px solid white;
    position: absolute;
    right: 5%;
    bottom: 10%;
    z-index: 10;
}
.run_unclicked{
    background-color: #1aa4ff;
}
.run_clicked{
    background-color: #222;
    color: #888;
    border: 1px solid #888;
}


.error{
    color:red;
}

.warn{
    color:#ffff00;
}

#color_code{
    background-color: #222;
    width: calc( 100% - 60px);
    height: 80%;
    position: absolute;
    left: 50px;
    z-index: -1;
}

#color_code > div{
    font-size: 15px;
    color: #ff00ff;
    height: 20px;
}
.cursors{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("./neon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: 20;
}